
@model ClassModel
@{
    ViewData["Title"] = "ManageClass";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<h4 class="mt-2">Manage Class</h4>
<br />
<h6 class="font-weight-bold"> Search Filter</h6>
<br />
<div class="row">
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="schoolName" class="col-sm-5 col-form-label">School Name</label>
            <div class="col-sm-7">
                <select class="form-control" id="schoolName">
                    <option disabled selected hidden>Select School</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="className" class="col-sm-5 col-form-label">Class Name</label>
            <div class="col-sm-7">
                <select class="form-control" id="className">
                    <option disabled selected hidden>Select Class</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="status" class="col-sm-5 col-form-label">Status</label>
            <div class="col-sm-7">
                <select class="form-control" id="status">
                    <option disabled selected hidden>Select Status</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="date" class="col-sm-5 col-form-label">Date</label>
            <div class="col-sm-7">
                <input type="date" value="" class="form-control" id="date" />
            </div>
        </div>
    </div>

    <div class="col-sm-1">
        <div class="form-group row">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col-sm-12">

            <button class="btn btn-sm btn-primary pull-right m-2" data-toggle="modal" data-target="#myModal">Create </button>


            @if (ViewBag.AddClassSuccess != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @ViewBag.AddClassSuccess
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (ViewBag.AddClassError != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @ViewBag.AddClassError
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }



            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Create Class</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form method="post" novalidate>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">School Name:</label>
                                    <select class="form-control" asp-for="SchoolId" id="school" asp-items="Model.Schools">
                                        <option disabled selected hidden>Select School</option>
                                    </select>
                                    <span asp-validation-for="SchoolId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label" asp-for="ClassName">Class Name:</label>
                                    <input class="form-control" type="text" />
                                    <span asp-validation-for="ClassName" class="text-danger"></span>
                                </div>




                                <label for="message-text" class="col-form-label">Status:</label>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActive, true, new { @class = "form-check-input", @checked = "checked" }) <label class="form-check-label" for="inlineRadio1">Active</label>
                                    @*<input class="form-check-input" type="radio" asp-for="IsActive" name="inlineRadioOptions" id="inlineRadio1" value="1">
                                        <label class="form-check-label" for="inlineRadio1">Active</label>*@
                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActive, false, new { @class = "form-check-input" })<label class="form-check-label" for="inlineRadio2">Inactive</label>
                                    @* <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" asp-for="IsActive">
                                        <label class="form-check-label" for="inlineRadio2">Inactive</label>*@
                                </div>
                                <span asp-validation-for="IsActive" class="text-danger"></span>

                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>



    </div>





</div>

<div id="wrap" class="mt-3">
    <div class="container">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover table-responsive ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>School Name</th>
                    <th>Class Name</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Pqw</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>
                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>

                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>




                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Pqw</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Pqw</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Pqw</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Jim Ned High School</td>
                    <td>XYZ</td>
                    <td>19 - Jul - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link btn-sm">Edit</a>
                        <a href="" class="btn btn-link btn-sm">Delete</a>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script>
    function ShowClassDetail(id) {
        $.get("/Class/GetClassById", { Id: id }, function (data) {
            console.log(data);
            if (data) {
                $("#detailsSchoolName").text(data.data.schoolName);
                $("#detailsClassName").text(data.data.className);
        
                
                data.data.isActive ? $("#detailsStatus").text("Active") : $("#detailsStatus").text("Inactive");
               
                //$("#detailsShoolName").text(data.data.school.schoolName);
                //$("#detailsAddressLine1").text(data.data.addressLine1);
                //$("#detailsAddressLine2").text(data.data.addressLine2);
                //$("#detailsName").text(data.data.name);
                //$("#detailsEmail").text(data.data.email);
                //$("#detailsMobile").text(data.data.mobile);
                //$("#detailsCity").text(data.data.city.cityName);
                //$("#detailsState").text(data.data.state.stateName);
                //$("#detailsZip").text(data.data.zip.zipcode);
                //$("#detailsUsername").text(data.data.username);
                //data.data.isActive ? $("#detailsStatus").text("Active") : $("#detailsStatus").text("Inactive");
            }
        });
    }
    $(document).ready(function () {
       @* $('#inputState').on('change', function () {
            $('#message-text').val($('#inputState').val())
        })*@
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: false,
            "oLanguage": {
                "sLengthMenu": "Rows_Per_Page _MENU_",
            },
            "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });
</script>