
@model SectionModel


@{
    ViewData["Title"] = "AddSection";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}
<style>
    .ButtonDesign {
        width: 10%;
        margin-left: 1%;
    }

    form {
        padding: inherit;
        margin: 5px 5px 5px 5px;
        border: 2px solid gray;
        height: 100%;
        /*  width : 100%;*/
    }

    input {
        width: 90%;
    }

    div {
        font-size: 16px;
    }

    .spacing {
        margin-left: 30px;
    }
</style>



<div class="container p-3 my-3 border fixed" id="div1">
    <h3>Create Section</h3>
    <form method="post" novalidate>
        <div class="spacing">
            <span class="row text-danger">* Marked are required fields</span>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label for="inputSchool" class="col-sm-2 col-form-label">School<span class="text-danger">*</span> :</label>
                    <div class="col-sm-5">
                        <select class="form-control" asp-for="SchoolId" id="school" asp-items="Model.Schools">
                            <option disabled selected hidden>Select School</option>
                        </select>
                        <span asp-validation-for="SchoolId" class="text-danger"></span>
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputClass" class="col-sm-2 col-form-label">Class Name<span class="text-danger">*</span> :</label>
                    <div class="col-sm-5">
                        <select class="form-control" asp-for="ClassId" id="class" asp-items="Model.Classes">
                            <option disabled selected hidden>Select Class</option>
                        </select>
                        <span asp-validation-for="ClassId" class="text-danger"></span>
                    </div>
                </div>
                <br />


                <br />

                <div class="form-group row">
                    <label for="inputSectionName" class="col-sm-2 col-form-label">Section Name<span class="text-danger">*</span>:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="inputSection" asp-for="SectionName" placeholder="Section Name">
                        <span asp-validation-for="SectionName" class="text-danger"></span>

                    </div>
                </div>

                <br />
                <br />

                <label>Status :</label>

                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(m => m.IsActive, true, new { @class = "form-check-input", @checked = "checked" }) <label class="form-check-label" for="inlineRadio1">Active</label>
                    @*<input class="form-check-input" type="radio" asp-for="IsActive" name="inlineRadioOptions" id="inlineRadio1" value="1">
                        <label class="form-check-label" for="inlineRadio1">Active</label>*@
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(m => m.IsActive, false, new { @class = "form-check-input" })<label class="form-check-label" for="inlineRadio2">Inactive</label>
                    @* <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" asp-for="IsActive">
                        <label class="form-check-label" for="inlineRadio2">Inactive</label>*@
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>

                <br />


            </div>
        </div>


        <a asp-action="ManageSection" asp-controller="Section" class="btn btn-danger pull-right m-2"><span>Cancel</span>   </a>
        <button type="submit" class="btn btn-primary pull-right m-2 ">Save</button>




    </form>
</div>
<div id="wrapper">
    @if (ViewBag.AddSectionSuccess != null)
    {
        <script>alert("@ViewBag.AddSectionSuccess")</script>
    }
    @if (ViewBag.AddSectionError != null)
    {
        <script>alert("@ViewBag.AddSectionError")</script>
    }
</div>








