@model ForgotPasswordValidateEmailModel
@{
    Layout = null;
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="~/Content/AdminLTE/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/Content/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/lib/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/LoginCSS/LoginCSS.css" rel="stylesheet" />


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h4 noUnderline" style="font-size:28px"><b>Learning </b>Management System</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                <form asp-action="ValidateEmail" asp-controller="Account" method="post" novalidate>
                    <div class="input-group mb-3">
                        <br />
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="row mt-1">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block submitButtonStyle">Request new password</button>
                        </div>
                    </div>
                    <div class="row mt-2">

                        <span class="text-danger"></span>
                    </div>
                </form>
                <p class="mb-1">
                    <h6>Already Have an Account ?</h6>
                    <a class="btn btn-primary btn-block signButtonStyle" asp-action="Login" asp-controller="Account"><h5>Sign In</h5></a>
                </p>
            </div>

        </div>
    </div>
</body>
