@model ForgotPasswordValidateEmailModel
@{
    Layout = null;
}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="~/Content/AdminLTE/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/Content/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/lib/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/LoginCSS/LoginCSS.css" rel="stylesheet" />

@*<link href="~/Content/AdminLTE/dist/css/skins/_all-skins.min.css" rel="stylesheet" />*@
@*<link href="~/Content/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@


<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="../../index2.html" class="h1 noUnderline"><b>JCS </b>LMS</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                <form asp-action="ValidateEmail" asp-controller="Account" method="post" novalidate>
                    <div class="input-group mb-3">
                        <br />
                        <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope fa-2x envelopStyle"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="row mt-1">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block submitButtonStyle">Request new password</button>
                        </div>
                    </div>
                    <div class="row mt-2">

                        <span class="text-danger"></span>
                    </div>
                </form>
                <p class="mb-1">
                    <h6>Already Have an Account ?</h6>
                    <a class="noUnderline loginStyle" asp-action="Login" asp-controller="Account"><h5>Login</h5></a>
                </p>
            </div>

        </div>
    </div>
</body>
