@model ForgotPasswordChangePasswordModel
@{
    ViewData["Title"] = "UpdateForgotPassword";
    Layout = null;
}

<center><h2>Update Forgot Password</h2></center>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<link rel="stylesheet" href="~/Content/AdminLTE/plugins/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="~/Content/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="~/lib/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/AdminLTE.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/dist/css/LoginCSS/LoginCSS.css" rel="stylesheet" />

@*<link href="~/Content/AdminLTE/dist/css/skins/_all-skins.min.css" rel="stylesheet" />*@
@*<link href="~/Content/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@

<style>
    .row {
        padding-top: 10px;
    }

    .btn-text-right {
        margin-left: 14.5%;
    }

    a {
        text-decoration: none;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
        margin: 0;
        padding: 0;
    }

    #viewUserModel {
        text-align: center;
        margin-left: 130px;
    }

    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }



    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    .spacing {
        margin-left: 30px;
    }
</style>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1 noUnderline"><b>JCS </b>LMS</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Update Password</p>
                <form asp-action="UpdateForgotPassword" asp-controller="Account" method="post" novalidate>
                    <div class="input-group mb-3">
                        <br />
                        <input type="password" asp-for="NewPassword" class="form-control" placeholder="Enter Password">
                        @* <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope fa-2x envelopStyle"></span>
                                </div>
                            </div>*@
                    </div>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <br />
                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password">
                        @* <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope fa-2x envelopStyle"></span>
                                </div>
                            </div>*@
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="row mt-1">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block submitButtonStyle">Update Password</button>
                        </div>
                    </div>
                    <div class="row mt-2">

                        <span class="text-danger"></span>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>
<div id="wrapper">
    @if (ViewBag.UpdatePasswordSuccess != null)
    {

        @* <script>alert("@ViewBag.AddCircularSuccess")</script>*@
        <div id="snackbar" class="snackbar-success "><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.UpdatePasswordSuccess</div>
        <script>
            var x = document.getElementById("snackbar");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }
    @if (ViewBag.UpdatePasswordError != null)
    {
        @* <script>alert("@ViewBag.AddCircularError")</script>*@
        <div id="snackbardanger"><i class="fa fa-times" aria-hidden="true"></i> @ViewBag.UpdatePasswordError</div>
        <script>
            var x = document.getElementById("snackbardanger");
            x.className = "show";
            setTimeout(function () { x.className = x.className.replace("show", ""); }, 5000);
        </script>
    }



</div>