<style>
    #div2 {
        position:relative;
        float: right;
        width: 550px;
        height: 700px;
        margin-top: 100px;
        display: inline-block;
        padding: 5px;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
    }
</style>

<div class="container p-3 my-3" id="div2">
    <h3>Change Password</h3>
    <br />
    <br />
    <form>

        <div class="form-group row ">
            <label for="inputPassword" class="col-sm-2 col-form-label">Old Password</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputOld_Pass" autocomplete="off" placeholder="Old Password">
            </div>
        </div>
        <br />
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputNew_Pass" autocomplete="off" placeholder="New Password">
            </div>
        </div>
        <br />
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputConfirm_Pass" autocomplete="off" placeholder="Confirm Password">
            </div>
        </div>
        <br />
        <br />

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>

