@model UpdateSuperadminProfileInformationModel

<style>
    #div2 {
        position: relative;
        float: right;
        width: 550px;
        height: 700px;
        margin-top: 100px;
        display: inline-block;
        padding: 5px;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
    }
</style>

<div class="container p-3 my-3" id="div2">
    <h3>Change Password</h3>
    <br />
    <br />
    <form asp-action="SuperAdminChangePassword" asp-controller="SuperAdmin" method="post">

        <div class="form-group row ">
            <label for="inputPassword" class="col-sm-2 col-form-label">Old Password<span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputOld_Pass" asp-for="SuperadminChangePasswordModel.CurrentPassword" autocomplete="off" placeholder="Old Password">
                <span asp-validation-for="SuperadminChangePasswordModel.CurrentPassword" class="text-danger"></span>

            </div>
        </div>
        <br />
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">New Password<span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputNew_Pass" asp-for="SuperadminChangePasswordModel.NewPassword" autocomplete="off" placeholder="New Password">
                <span asp-validation-for="SuperadminChangePasswordModel.NewPassword" class="text-danger"></span>

            </div>
        </div>
        <br />
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password<span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputConfirm_Pass" asp-for="SuperadminChangePasswordModel.ConfirmPassword" autocomplete="off" placeholder="Confirm Password">
                <span asp-validation-for="SuperadminChangePasswordModel.ConfirmPassword" class="text-danger"></span>

            </div>
        </div>
        <br />
        <br />

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
    <br />
    @if (ViewBag.UpdateSuperadminChangePasswordSuccess != null)
    {
        <span class="text-success">@ViewBag.UpdateSuperadminChangePasswordSuccess</span>
    }
    @if (ViewBag.UpdateSuperadminChangePasswordError != null)
    {
        <span class="text-danger">@ViewBag.UpdateSuperadminChangePasswordError</span>

    }
</div>

<div>

</div>