@{
    ViewData["Title"] = "ManagesSchools";
}

<style>
   

    #InstituteName{
        width:150px;
    }

</style>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="schoolName" class="col-sm-5 col-form-label">School Name  <span class="text-danger">*</span></label>
            <div class="col-sm-7">
                <select class="form-control" id="schoolName">
                    <option disabled selected hidden>Select School</option>
            
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="InstituteName" class="col-sm-5 col-form-label">Institute Name  <span class="text-danger">*</span></label>
            <div class="col-sm-7">
                <select class="form-control" id="InstituteName">
                    <option disabled selected hidden>Select Institute</option>
                    <option>Chicago Public School</option>
                
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="city" class="col-sm-5 col-form-label">City  <span class="text-danger">*</span></label>
            <div class="col-sm-7">
                <select class="form-control" id="city">
                    <option disabled selected hidden>Select City</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group row">
            <label for="state" class="col-sm-5 col-form-label">State  <span class="text-danger">*</span></label>
            <div class="col-sm-7">
                <select class="form-control" id="state">
                    <option disabled selected hidden>Select State</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>







    <div class="col-sm-3">
        <div class="form-group row">
            <label for="status" class="col-sm-5 col-form-label">Status  <span class="text-danger">*</span></label>
            <div class="col-sm-7">
                <select class="form-control" id="status">
                    <option disabled selected hidden>Select Status</option>
                    <option>Active</option>
                    <option>Inactive</option>
                </select>
            </div>
        </div>
    </div>



</div>
 

<div class="row mt-3">
    <div class="col-sm-12">
        <div class="col-sm-1">
            <div class="form-group row">
                <button class="btn btn-primary">Search</button>
            </div>
        </div>
        <button class="btn   btn-primary pull-right m-2">Export</button>
        <a href="#" class="pull-right btn   btn-link m-2">Download Excel Template</a>
        <button class="btn   btn-primary pull-right m-2">Upload</button>
        <div>
        <button class="btn btn-primary   pull-right m-2"  runat="server" onserverclick="Submit_Click">Add New </button>
            </div>
    </div>
</div>
<div id="wrap" class="mt-3">
    <div class="container">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover table-responsive ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>School Name</th>
                    <th>Institute Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Created Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>Jim Ned High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ft Congo Elementary School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Rochelle School</td>
                    <td>Chicago Public School</td>
                    <td>Rochelle</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Lake View High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Liono High School</td>
                    <td>Chicago Public School</td>
                    <td>Liono</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>


                <tr>
                    <td>6</td>
                    <td>Jim Ned High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Ft Congo Elementary School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Rochelle School</td>
                    <td>Chicago Public School</td>
                    <td>Rochelle</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Lake View High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Liono High School</td>
                    <td>Chicago Public School</td>
                    <td>Liono</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>



                <tr>
                    <td>11</td>
                    <td>Jim Ned High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Ft Congo Elementary School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Rochelle School</td>
                    <td>Chicago Public School</td>
                    <td>Rochelle</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Lake View High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Liono High School</td>
                    <td>Chicago Public School</td>
                    <td>Liono</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>


                <tr>
                    <td>16</td>
                    <td>Jim Ned High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Ft Congo Elementary School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Rochelle School</td>
                    <td>Chicago Public School</td>
                    <td>Rochelle</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>InActive</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Lake View High School</td>
                    <td>Chicago Public School</td>
                    <td>Sun Angelo</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Liono High School</td>
                    <td>Chicago Public School</td>
                    <td>Liono</td>
                    <td>Texas</td>
                    <td>12 - Feb - 2021</td>
                    <td>Active</td>

                    <td>

                        <a href="" class="btn btn-link  ">Edit</a>
                        <a href="" class="btn btn-link  ">Delete</a>

                    </td>
                </tr>


            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.datatable').DataTable({
            searching: false,
            "oLanguage": {
                "sLengthMenu": "Rows_Per_Page _MENU_",
            },
            @*"dom": '<"top"i>rt<"bottom"flp><"clear">'*@
        });
        $('.datatable').each(function () {
            var datatable = $(this);
            var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
            length_sel.addClass('form-control input-lg');
        });
    });
</script>