
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="mt-2">Manage Schools</h4>

<h6 class="font-weight-bold"> Search Filter</h6>


@{ Html.RenderPartial("_ManagesSchools"); }