@model UpdateSuperadminProfileInformationModel
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<style>
   @* #div6 {
        position: relative;
        display: inline-block;
        border-style: solid;
        border-color: black;
    }*@

    .spacing {
        margin-left: 30px;
    }
</style>

<h3 class="mt-4"> Profile</h3>

@*<div class="container" id="div6">
        @{ Html.RenderPartial("_Profile"); }
        @{ Html.RenderPartial("_ChangePassword"); }
        @{ Html.RenderPartial("_ImageLogo"); }
    </div>
*@

<div class="container" id="div6">
    <div class="row">

        <div class="col-lg-6"> @{ Html.RenderPartial("_Profile"); } @{ Html.RenderPartial("_ImageLogo",Model); }</div>
        <div class="col-lg-6">@{ Html.RenderPartial("_ChangePassword"); }</div>
    </div>
</div>