@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<style>
    #div6 {
        position: relative;
        display: inline-block;
        border-style: solid;
        border-color: black;
    }

    .spacing {
        margin-left: 30px;
    }
</style>

<h2 class="mt-4">Manage Profile</h2>
<div class="spacing">
    <span class="row text-danger">* Marked are required fields</span>
</div>
<div class="container" id="div6">
    @{ Html.RenderPartial("_Profile"); }
    @{ Html.RenderPartial("_ChangePassword"); }
    @{ Html.RenderPartial("_ImageLogo"); }
</div>
