@model FAQList
@using System.Web
@{
    ViewData["Title"] = "ViewFAQ";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<style>
    .categoryName {
        font-weight: bold;
    }

    .categoryText {
        font-weight: 500;
        font-size: 14px;
    }
</style>
<h1 class="mt-5">View FAQ</h1>

<div class="container">
    <div class="border p-2 border-dark">

        <div class="row flex flex-row">
            <div class="col-sm-3">

                <h6 class="categoryName">Category </h6>
            </div>
            <div class="col-sm-9" style="margin-left:-9em;">

                <span class="categoryText">@Model.CategoryName</span>
            </div>
        </div>
      
      
       <div class="col-sm-6">
                <div class="row flex flex-row">
                    <div class="col-sm-3">

                        <h6 class="categoryName">Question </h6>
                    </div>
                    <div class="col-sm-9">

                        <span class="categoryText">@Model.Question</span>
                    </div>
                </div>
            </div>
       
       
       
        <div class="row flex flex-row">
            <div class="col-sm-3">

                <h6 class="categoryName">Content </h6>
            </div>
            <div class="col-sm-9" style="margin-left:-9em;">
                @Html.Raw(HttpUtility.HtmlDecode(@Model.Content))

            </div>
        </div>

        <div class="row flex flex-row">
            <div>

                <a class="pull-right btn btn-danger" asp-controller="FAQ" asp-action="FAQList">Close</a>
            </div>
        </div>
    </div>
</div>
