@model SchoolModel
    <style>
        .row {
            padding-top: 10px;
        }

        .btn-text-right {
            margin-left: 14.5%;
        }

        a {
            text-decoration: none;
        }

        .table-borderless, .table-borderless td, .table-borderless th {
            border: none;
            border-top: none !important;
            margin: 0;
            padding: 0;
        }

        #viewUserModel {
            text-align: center;
            margin-left: 130px;
        }

        .table-borderless, .table-borderless td, .table-borderless th {
            border: none;
            border-top: none !important;
        }



        #snackbar {
            background-color: green;
            visibility: hidden;
            min-width: 250px;
            margin-left: -113px;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 21px;
            position: fixed;
            z-index: 1;
            left: 90%;
            top: 82px;
            font-size: 17px;
        }

            #snackbar.show {
                visibility: visible;
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }


            #snackbar.show {
                visibility: visible;
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }

        #snackbardanger {
            background-color: red;
            visibility: hidden;
            min-width: 250px;
            margin-left: -113px;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 21px;
            position: fixed;
            z-index: 1;
            left: 90%;
            top: 82px;
            font-size: 17px;
        }

            #snackbardanger.show {
                visibility: visible;
                -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }

        @@-webkit-keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 30px;
                opacity: 1;
            }
        }

        @@keyframes fadein {
            from {
                top: 0;
                opacity: 0;
            }

            to {
                top: 30px;
                opacity: 1;
            }
        }

        @@-webkit-keyframes fadeout {
            from {
                top: 30px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }

        @@keyframes fadeout {
            from {
                top: 30px;
                opacity: 1;
            }

            to {
                top: 0;
                opacity: 0;
            }
        }
    </style>

<div class="container p-3 my-3 border fixed" id="div1">

    <form method="post" novalidate>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label for="inputSchool" class="col-sm-2 col-form-label">Institute :</label>
                    <div class="col-sm-7">
                        <select class="form-control" asp-for="InstituteId" id="school" asp-items="Model.Institutes">
                            <option disabled selected hidden>Select Institute</option>
                        </select>
                        <span asp-validation-for="InstituteId" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email :</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="inputEmail" asp-for="Email" placeholder="abc@xyz.com">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputAddress1" class="col-sm-2 col-form-label">Address1:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputAddress1" asp-for="Address1" placeholder="Address 1">
                        <span asp-validation-for="Address1" class="text-danger"></span>

                    </div>
                </div>
                <br />


                <div class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">State :</label>
                    <div class="col-sm-7">
                        <select class="form-select" aria-label="Default select example" onchange="GetCityById()" id="stateName" asp-for="StateId" asp-items="Model.States">
                            <option value="" disabled selected>Select State</option>
                        </select>
                        <span asp-validation-for="StateId" class="text-danger"></span>

                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputZip" class="col-sm-2 col-form-label">Zip :</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="zip" asp-for="ZipId">
                            <option disabled selected hidden>Select Zip</option>
                        </select>
                        <span asp-validation-for="ZipId" class="text-danger"></span>
                    </div>
                </div>
                <br />


             

            </div>
            <div class="col">
                <div class="form-group row">
                    <label for="inputSchoolName" class="col-sm-2 col-form-label">School Name :</label><br />
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputSchoolName" asp-for="SchoolName" placeholder="Ex: Abc Xyz">
                        <span asp-validation-for="SchoolName" class="text-danger"></span>

                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputMobile" class="col-sm-2 col-form-label">Mobile :</label><br />
                    <div class="col-sm-7">
                        <input type="text" asp-for="Mobile" class="form-control" id="inputMobile" placeholder="Contact Number">
                        <span asp-validation-for="Mobile" class="text-danger"></span>

                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputAddress2" class="col-sm-2 col-form-label">Address2:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Address 2" asp-for="Address2">
                        <span asp-validation-for="Address2" class="text-danger"></span>

                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">City :</label>
                    <div class="col-sm-7">
                        <select class="form-control" id="cityName" asp-for="CityId" onchange="GetZipByCityId()">
                            <option disabled selected hidden>Select City</option>
                        </select>
                        <span asp-validation-for="CityId" class="text-danger"></span>

                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputUserName" class="col-sm-2 col-form-label">Contact Person:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="contactperson" asp-for="ContactPerson" placeholder="Ex : Username123">
                        <span asp-validation-for="ContactPerson" class="text-danger"></span>

                    </div>
                </div>
                <br />


                <label>Status :</label>

                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(m => m.IsActive, true, new { @class = "form-check-input", @checked = "checked" }) <label class="form-check-label" for="inlineRadio1">Active</label>
                    @*<input class="form-check-input" type="radio" asp-for="IsActive" name="inlineRadioOptions" id="inlineRadio1" value="1">
            <label class="form-check-label" for="inlineRadio1">Active</label>*@
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(m => m.IsActive, false, new { @class = "form-check-input" })<label class="form-check-label" for="inlineRadio2">Inactive</label>
                    @* <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" asp-for="IsActive">
            <label class="form-check-label" for="inlineRadio2">Inactive</label>*@
                </div>
                <span asp-validation-for="IsActive" class="text-danger"></span>

                <br />
                <br />

            </div>
        </div>


        <a asp-controller="School" asp-action="SchoolDetails" class="btn btn-danger float-lg-end ButtonDesign">Cancel</a>
        <button type="submit" class="btn btn-primary float-lg-end ButtonDesign">Save</button>




    </form>
</div>
<div id="wrapper">
    @if (ViewBag.AddSchoolSuccess != null)
    {
        <script>alert("@ViewBag.AddSchoolSuccess")</script>
    }
    @if (ViewBag.AddSchoolError != null)
    {
        <script>alert("@ViewBag.AddSchoolError")</script>
    }
</div>
<script type="text/javascript">
    function GetCityById() {
        var stateValue = $("#stateName :selected").val();
        //You can check selected value using alert

        if (stateValue != null) {
            $.get("/School/GetCityByStateId", { id: stateValue }, function (data) {
                console.log(data);
                $("#cityName").empty();
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                $("#cityName").append("<option disabled selected hidden>Select City</option>");
                data.forEach(function (city) {
                    $('#cityName').append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            });
        }
    }
    function GetZipByCityId() {
        var cityValue = $("#cityName :selected").val();
        //You can check selected value using alert

        if (cityValue != null) {
            $.get("/School/GetZipByCityId", { cityId: cityValue }, function (data) {
                console.log(data);
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                data.forEach(function (zip) {
                    $('#zip').append('<option value="' + zip.value + '">' + zip.text + '</option>');
                });
            });
        }
    }
</script>