


<style>
    h2 {
        padding-top: 3%;
    }

    ::-webkit-scrollbar {
        display: block;
        overflow: hidden; /* Hide scrollbars */
    }
</style>
@{
    ViewData["Title"] = "Add New Principal";
    Layout = "~/Views/Shared/_InstituteLayout.cshtml";
}

<h2>Add Principal Details</h2>

@{ Html.RenderPartial("_AddPrincipal"); }