@model PrincipalInformation
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}

<style>
    .table-borderless, .table-borderless td, .table-borderless th {
        border: none;
        border-top: none !important;
    }

    td {
        font-size: 20px;
    }

    .bgcolor {
        background-color: rgb(204,204,204);
    }
</style>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="d-flex flex-column justify-content-center col-sm-7 bgcolor m-5 p-3">
            <h3 class="text-center pb-1 border-bottom">School Information</h3>
            <div class="p-4">
                <table class="table table-borderless">
                    <tr>
                        <th>
                            <h4>
                                Insitute Name  :
                            </h4>
                        </th>
                        <td>@Model.InstituteName</td>
                    </tr>
                    <br />
                    <tr>
                        <th><h4>School Name :</h4></th>
                        <td>@Model.SchoolName</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

