@model Institute
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}
<h4 class="m-3">Add New Institute</h4>

<div class="m-2">
    <div class="border border-dark p-4 m-3">
        <div class="row">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="instituteName" class="col-sm-3 col-form-label">Institute Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="instituteName" placeholder="Institute Name">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="contactPerson" class="col-sm-3 col-form-label">Contact Person</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="contactPerson" placeholder="Contact Person">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="address1" class="col-sm-3 col-form-label">Address 1</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="address1" placeholder="Address 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="email@example.com">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="address2" class="col-sm-3 col-form-label">Address 2</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="address2" placeholder="Address 2">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="mobile" class="col-sm-3 col-form-label">Mobile</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="mobile" placeholder="Mobile Number">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="city" class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="city" onchange="GetZipByCityId()">
                                    <option disabled selected hidden>Select City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="state" class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <select class="form-select" asp-for="State" asp-items="Model.States" aria-label="Default select example" onchange="GetCityById()" id="instituteState">
                                    <option value="" disabled selected>Select State</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="zip" class="col-sm-3 col-form-label">Zip</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="zip">
                                    <option disabled selected hidden>Select Zip</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="licenseExpiry" class="col-sm-3 col-form-label">License Expiry</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" id="licenseExpiry" placeholder="License Expiry">
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group row">
                            <label for="status" class="col-sm-3 col-form-label">Status</label>

                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="status" id="active" value="Active">
                                    <label class="form-check-label" for="active">Active</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="status" id="inactive" value="Inactive">
                                    <label class="form-check-label" for="inactive">Inactive</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <a asp-action="InstituteDetails" asp-controller="Institute" class="btn btn-primary pull-right m-2"><span>Save</span>   </a>
                                <a asp-action="InstituteDetails" asp-controller="Institute" class="btn btn-danger pull-right m-2"><span>Cancel</span>   </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function GetCityById() {
        var stateValue = $("#instituteState :selected").val();
        //You can check selected value using alert

        if (stateValue != null) {
            $.get("/Institute/GetCityByStateId", { id: stateValue }, function (data) {
                console.log(data);
                $("#city").empty();
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                $("#city").append("<option disabled selected hidden>Select City</option>");
                data.forEach(function (city) {
                    $('#city').append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            });
        }
    }
    function GetZipByCityId() {
        var cityValue = $("#city :selected").val();
        //You can check selected value using alert

        if (cityValue != null) {
            $.get("/Institute/GetZipByCityId", { cityId: cityValue }, function (data) {
                console.log(data);
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                data.forEach(function (zip) {
                    $('#zip').append('<option value="' + zip.value + '">' + zip.text + '</option>');
                });
            });
        }
    }
</script>