@model InstituteChartDetails
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_InstituteLayout.cshtml";
}
@*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>*@

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div class="col-sm-6 mt-4">
    <h1 class="m-0">Dashboard</h1>
</div><!-- /.col -->


<section class="content">
    <div class="container-fluid" style="margin-left:-2em;">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6" style=" width: 23em;">
                <!-- small box -->
                <div class="small-box bg-green-gradient">
                    <div class="inner">
                        <h3>@Model.SchoolCount</h3>

                        <p style="font-weight: bold; font-size: 18px; margin-top: 2em; margin-bottom: 0em;">Total Schools</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-android-create "></i>
                    </div>
                    <a href="#" class="small-box-footer pb-3"> </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" style=" width: 23em;">
                <!-- small box -->
                <div class="small-box bg-yellow-gradient">
                    <div class="inner">
                        <h3>@Model.PrincipalCount</h3>

                        <p style="font-weight: bold; font-size: 18px; margin-top: 2em; margin-bottom: 0em;">Total Principals</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-briefcase"></i>
                    </div>
                    <a href="#" class="small-box-footer pb-3"> </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6" style=" width: 23em;">
                <!-- small box -->
                <div class="small-box bg-red-gradient">
                    <div class="inner">
                        <h3>@Model.EventsCount</h3>

                        <p style="font-weight: bold; font-size: 18px; margin-top: 2em; margin-bottom: 0em;">Total Events</p>
                    </div>
                    <div class="icon">
                        @*<i class="ion ion-person-add"></i>*@
                        <ion-icon class="ion ion-ios-calendar-outline"></ion-icon>
                    </div>
                    <a href="#" class="small-box-footer pb-3"></a>
                </div>
            </div>
            <!-- ./col -->

        </div>


    </div>
</section>


<div id="chart_div" style="margin-bottom:3em;"></div>



<script type="text/javascript">


    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({

            url: 'EventsDataBarChart',
            dataType: "json",
            type: "GET",
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function (data) {
                EventsDataBarChart(data);
                return false;
            }
        });
        return false;
    }

    function EventsDataBarChart(data) {
        var dataArray = [
            ['Month', 'Events']
        ];
        $.each(data, function (i, item) {
            dataArray.push([item.month, item.eventsChartCount]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Number of events held ',
            width: 950,
            height: 400,
            chartArea: {
                width: '75%'
            },
            colors: ['#4876FF'],
            hAxis: {
                title: 'Month',
                minValue: 0
            },
            vAxis: {
                title: 'Total Events',
                ticks: [0, 2, 4, 6, 8, 10],
             /*   gridlines: { count: 5 }*/
            }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

        chart.draw(data, options);
        return false;
    }
</script>

