
@{
    ViewData["Title"] = "ManageProfile";
    Layout = "~/Views/Shared/_InstituteLayout.cshtml";
}
<style>
    .spacing {
        margin-left: 30px;
    }
</style>
<h3 class="mt-4">Profile</h3>
<div class="spacing">
    <span class="row text-danger">* Marked are required fields</span>
</div>
@{ Html.RenderPartial("~/Views/User/_ManageProfile.cshtml"); }
