
@{
    ViewData["Title"] = "ManageProfile";
    Layout = "~/Views/Shared/_InstituteLayout.cshtml";
}

<h1 class="mt-4">ManageProfile</h1>

@{ Html.RenderPartial("~/Views/User/_ManageProfile.cshtml"); }
