<style>
    .ButtonDesign {
        width: 10%;
        margin-left: 1%;
    }

    form {
        padding: inherit;
        margin: 5px 5px 5px 5px;
        border: 2px solid gray;
        height: 100%;
      /*  width : 100%;*/
    }
    input{
        width: 90%;
    }

   div{
       font-size: 16px;
   }
    
</style>

<div class="container p-3 my-3 border fixed" id="div1">

    <form>
        <div class="row">
            <div class="col">

                <!-- <div class="form-group row">
                <label for="Insti">Institute Name</label>
                <select id="Insti" name="Insti">
                    <option value="1">Select Institute</option>
                    <option value="2">Chicago Public School</option>
                </select>

            </div>
            <br /> -->

                <div class="form-group row">
                    <label for="inputSchool" class="col-sm-2 col-form-label">School :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputSchool" placeholder="School name">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputEmail" placeholder="abc@xyz.com">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputAddress1" class="col-sm-2 col-form-label">Address1:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputAddress1" placeholder="Address 1">
                    </div>
                </div>
                <br />


                <!--  <div class="form-group row">
                   <label for="City">City</label>
                   <select id="City" name="City">
                       <option value="1">Select City</option>
                       <option value="2">Delhi</option>
                       <option value="3">Pune</option>
                   </select>

               </div>
               <br />


                <div class="form-group row">
                <label for="State">State</label>
                <select id="State" name="State">
                    <option value="1">Select State</option>
                    <option value="2">Maharashtra</option>
                    <option value="3">Gujarat</option>
                </select>

            </div>
            <br /> -->


                <div class="form-group row">
                    <label for="inputCity" class="col-sm-2 col-form-label">City :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputCity" placeholder="City">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputZip" class="col-sm-2 col-form-label">Zip :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputZip" placeholder="Ex : 4000345">
                    </div>
                </div>
                <br />


                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="password" id="inputPassword" placeholder="Password" />

                    </div>
                </div>
                <br />


                <!--   <b>Status </b><br />
            <span>Active</span>
            <input checked="checked" id="Tea" name="Tea" type="checkbox" value="true" />
            <input name="Tea" type="hidden" value="false" />

            <span> Inactive</span>
            <input checked="checked" id="Loundry" name="Loundry" type="checkbox" value="true" />
            <input name="Loundry" type="hidden" value="false" />

            <br /><br /> -->



            </div>
            <div class="col">



                <div class="form-group row">
                    <label for="inputPrincipalName" class="col-sm-2 col-form-label">Name :</label><br />
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputPrincipalName" placeholder="Ex: Abc Xyz">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputMobile" class="col-sm-2 col-form-label">Mobile :</label><br />
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputMobile" placeholder="Contact Number">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputAddress2" class="col-sm-2 col-form-label">Address2:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Address 2">
                    </div>
                </div>
                <br />

                <div class="form-group row">
                    <label for="inputState" class="col-sm-2 col-form-label">State :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputState" placeholder="State">
                    </div>
                </div>
                <br />


                <div class="form-group row">
                    <label for="inputUserName" class="col-sm-2 col-form-label">UserName:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputUserName" placeholder="Ex : Username123">
                    </div>
                </div>
                <br />

                <label>Status :</label>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Active</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Inactive</label>
                </div>

                <br />
                <br />

            </div>
        </div>

                    <!--<div class="form-group row">
                    <label for="Zip">Zip</label>
                    <select id="Zip" name="Zip">
                        <option value="1">Select Zipcode</option>
                        <option value="2">444333</option>
                        <option value="3">555555</option>
                    </select>

                </div>
                <br />-->
       
            <button type="button" class="btn btn-success float-lg-end ButtonDesign">Save</button>
            <button type="button" class="btn btn-danger float-lg-end ButtonDesign">Cancel</button>
        


    </form>
</div>
