@model Teacher
@{
    ViewData["Title"] = "AddTeacher";
}
<style>
    .spacing {
        margin-left: 30px;
    }
    #snackbar {
        background-color: green;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    #snackbardanger {
        background-color: red;
        visibility: hidden;
        min-width: 250px;
        margin-left: -113px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 21px;
        position: fixed;
        z-index: 1;
        left: 90%;
        top: 82px;
        font-size: 17px;
    }

        #snackbardanger.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

    @@-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 30px;
            opacity: 1;
        }
    }

    @@-webkit-keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    @@keyframes fadeout {
        from {
            top: 30px;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }

    .spacing {
        margin-left: 30px;
    }
</style>
<h4 class="m-3">Add Teacher</h4>

<div class="m-2">
    <div class="border border-dark p-4 m-3">
        <div class="row">
            <form method="post">
                <div class="spacing">
                    <span class="row text-danger">* Marked are required fields</span>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="user" class="col-sm-3 col-form-label">User Type<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="UserType" id="user">
                                    <option disabled selected>Select User</option>
                                    <option value="Teacher"> Teacher</option>
                                    <option value="Students"> Students</option>
                                    <option value="Parents"> Parents</option>

                                </select>
                                <span asp-validation-for="UserType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Name<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="TeacherName" class="form-control" id="name">
                                <span asp-validation-for="TeacherName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="school" class="col-sm-3 col-form-label">Select School<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="SchoolId" asp-items="Model.Schools" id="school">
                                    <option disabled selected hidden> Select School</option>

                                </select>
                                <span asp-validation-for="SchoolId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="email" asp-for="Email" class="form-control" id="email" placeholder="user@example.com">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </div>
                <br />
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="school" class="col-sm-3 col-form-label">Select Class<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="ClassId" asp-items="Model.Class" id="class">
                                    <option disabled selected hidden> Select Class</option>

                                </select>
                                <span asp-validation-for="ClassId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="mobile" class="col-sm-3 col-form-label">Mobile<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Mobile" class="form-control" id="mobile">
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </div>
                <br />
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="section" class="col-sm-3 col-form-label">Section<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select asp-for="SectionId" asp-items="Model.Section" class="form-control" id="section">
                                    <option disabled selected hidden>Select Section</option>

                                </select>
                                <span asp-validation-for="SectionId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="address1" class="col-sm-3 col-form-label">Address 1<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="AddressLine1" class="form-control" id="address1">
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                        </div>
                    </div>


                </div>
                <br />
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="subject" class="col-sm-3 col-form-label">Subject<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select asp-for="SubjectId" asp-items="Model.Subject" class="form-control" id="class">
                                    <option disabled selected hidden>Select Subject</option>

                                </select>
                            </div>
                            <span asp-validation-for="SubjectId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="address2" class="col-sm-3 col-form-label">Address 2<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="AddressLine2" class="form-control" id="address2">
                                <span asp-validation-for="AddressLine2" class="text-danger"></span>
                            </div>
                        </div>
                    </div>




                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="state" class="col-sm-3 col-form-label">State<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="StateId" asp-items="Model.States" aria-label="Default select example" id="state" onchange="GetCityById()">
                                    <option value="" disabled selected>Select State</option>

                                </select>
                                <span asp-validation-for="StateId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="username" class="col-sm-3 col-form-label">Username<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="text" asp-for="Username" class="form-control" id="username">
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="city" class="col-sm-3 col-form-label">City<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="CityId" id="city" onchange="GetZipByCityId()">
                                    <option disabled selected hidden>Select City</option>

                                </select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="password" class="col-sm-3 col-form-label">Password<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="password" asp-for="Password" class="form-control" id="password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>



                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="zip" class="col-sm-3 col-form-label">Zip<span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <select class="form-control" asp-for="ZipId" id="zip">
                                </select>
                                <span asp-validation-for="ZipId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Confirm Password <span class="text-danger">*</span></label>
                            <div class="col-sm-9">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" id="password" placeholder="Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group row">
                            <label for="status" class="col-sm-3 col-form-label">Status</label>

                            <div class="col-sm-9">
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActive, true, new { @class = "form-check-input" })<label class="form-check-label" for="inlineRadio2">Active</label>

                                </div>
                                <div class="form-check form-check-inline">
                                    @Html.RadioButtonFor(m => m.IsActive, false, new { @class = "form-check-input", @checked = "checked" }) <label class="form-check-label" for="inlineRadio1">InActive</label>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <a asp-action="ManageTeacherUsers" asp-controller="Teacher" class="btn btn-danger pull-right m-2"><span>Cancel</span>   </a>
                                <span class="m-2 pull-right"></span>
                                <button type="submit" class="btn btn-primary pull-right m-2">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="wrapper">
    @if (ViewBag.AddTeacherSuccess != null)
    {
        <script>alert("@ViewBag.AddTeacherSuccess")</script>
    }
    @if (ViewBag.AddTeacherError != null)
    {
        <script>alert("@ViewBag.AddTeacherError")</script>
    }
</div>
<script type="text/javascript">
    function GetCityById() {
        var stateValue = $("#state :selected").val();
        //You can check selected value using alert

        if (stateValue != null) {
            $.get("/Teacher/GetCityByStateId", { id: stateValue }, function (data) {
                console.log(data);
                $("#city").empty();
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                $("#city").append("<option disabled selected hidden>Select City</option>");
                data.forEach(function (city) {
                    $('#city').append('<option value="' + city.value + '">' + city.text + '</option>');
                });
            });
        }
    }
    function GetZipByCityId() {
        var cityValue = $("#city :selected").val();
        //You can check selected value using alert

        if (cityValue != null) {
            $.get("/Teacher/GetZipByCityId", { cityId: cityValue }, function (data) {
                console.log(data);
                $("#zip").empty();
                $("#zip").append("<option disabled selected hidden>Select Zip</option>");
                data.forEach(function (zip) {
                    $('#zip').append('<option value="' + zip.value + '">' + zip.text + '</option>');
                });
            });
        }
    }
</script>