
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";

}

<h3 class="mt-2"> Teacher List </h3>
<div class="">

    <a asp-action="ManageTeacherUsers" asp-controller="Teacher" class="btn btn-info "><span>Teacher</span> </a>
    <a asp-action="ManageStudentUsers" asp-controller="User" class="btn btn-info m-1"><span>Student</span> </a>
    <a asp-action="ManageParentsUsers" asp-controller="User" class="btn btn-info m-1"><span>Parents</span> </a>
</div>



@{ Html.RenderPartial("_ManageTeacherUsers"); }