
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";

}

<h4 class="mt-2">Manage Teacher Users</h4>
<div class="d-flex flex-row ">
   
    <a asp-action="ManageTeacherUsers" asp-controller="User" class="btn btn-primary m-2"><span>Teacher</span> </a>
    <button class="btn btn-primary m-2">Students</button>
    <button class="btn btn-primary m-2">Parent</button>
</div>
<h6 class="font-weight-bold"> Search Filter</h6>


@{ Html.RenderPartial("_ManageTeacherUsers"); }