
<style>
    h2 {
        padding-top: 3%;
    }

    ::-webkit-scrollbar {
        display: block;
        overflow: hidden; /* Hide scrollbars */
    }

    .spacing {
        margin-left: 30px;
    }
</style>
@{
    ViewData["Title"] = "Manage Profile";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h1 class="mt-4">Profile</h1>
<div class="spacing">
    <span class="row text-danger">* Marked are required fields</span>
</div>
@{ Html.RenderPartial("~/Views/User/_ManageProfile.cshtml"); }