
@{
    ViewData["Title"] = "_ChangePassword";
}

<div class="container p-3 my-3 border" id="div2">
    <h1>Change Password</h1>
    <br />
    <br />
    <form>

        <div class="form-group row ">
            <label for="inputPassword" class="col-sm-2 col-form-label">Old Password</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="inputOld_Pass" autocomplete="off" placeholder="Old Password">
            </div>
        </div>
        <br />
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">New Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputNew_Pass" autocomplete="off" placeholder="New Password">
            </div>
        </div>
        <br />
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="inputConfirm_Pass" autocomplete="off" placeholder="Confirm Password">
            </div>
        </div>
        <br />
        <br />

        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>

