

<div class="container p-3 my-3 border" id="div3">
    <h1>Image and Logo</h1>
    <br />
    <br />
    <div class="form-group row ">
        <label for="inputLogo" class="col-sm-2 col-form-label">Logo</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" id="logo_img">
            <br />
            <button type="submit" class="btn btn-primary">Change/Upload</button>
        </div>
    </div>
    <br />


    <div class="form-group row ">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login Image</label>
        <div class="col-sm-6">
            <input type="file" class="form-control" id="login_img">
            <br />
            <button type="submit" class="btn btn-primary">Change/Upload</button>
        </div>

    </div>
    <br />
    <br />

    <button type="submit" class="btn btn-primary">Save</button>
</div>
