
<style>
    #div1 {
        width: 620px;
        height: 400px;
        display: inline-block;
        padding: 15px;
        text-align: center;
        border-style: solid;
        border-color: lightgray;
    }
</style>
<div class="container p-3 my-3 " id="div1">
    <h3>Profile Information</h3>
    <br />
    <br />
    <form>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Mobile Support</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputNumber" placeholder="Mobile number">
            </div>
        </div>
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Email Support</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="inputEmail" placeholder="Admin@example.com">
            </div>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
