

<div class="container p-3 my-3 border" id="div1">
    <h1>Profile Information</h1>
    <br />
    <br />
    <form>

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Mobile Support</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="inputNumber" placeholder="Mobile number">
            </div>
        </div>
        <br />

        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Email Support</label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="inputEmail" placeholder="Admin@example.com">
            </div>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
