
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Profile</h2>


@{ Html.RenderPartial("_Profile"); }
@{ Html.RenderPartial("_ImageLogo"); }
@{ Html.RenderPartial("_ChangePassword"); }

