
<style>
    h2 {
        padding-top: 3%;
    }

    ::-webkit-scrollbar {
        display: block;
        overflow: hidden; /* Hide scrollbars */
    }
</style>
@{
    ViewData["Title"] = "Manage Profile";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h3 class="mt-4">Profile</h3>

@{ Html.RenderPartial("~/Views/User/_ManageProfile.cshtml"); }
